<div class="p-4">
    <div class="container">
        <h1>{{title}}</h1>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="mb-3 col">
                    <label class="form-label">Quote Title</label>
                    <input type="text" formControlName="QuoteTitle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.QuoteTitle.errors }" />
                    <div *ngIf="submitted && f.QuoteTitle.errors" class="invalid-feedback">
                        <div *ngIf="f.QuoteTitle.errors.required">Title is required</div>
                    </div>
                </div>
                <div class="mb-3 col">
                    <label class="form-label">Liked</label>
                    <select id="booleanDropdown" formControlName="Liked" class="form-control">
                        <option value=true>True</option>
                        <option value=false>False</option>
                    </select>
                </div>
            </div>
            
            <div class="mb-3">
                <button [disabled]="submitting" class="btn btn-primary">
                    <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                    Save
                </button>
                <a routerLink="/quotes" class="btn btn-link">Cancel</a>
            </div>
        </form>
        <div *ngIf="loading" class="text-center m-5">
            <span class="spinner-border spinner-border-lg align-center"></span>
        </div>
    </div>
</div>